@using System.Web.Optimization

<!-- App Bar -------------------------------------- -->
<header>
<div class="app-bar" ng-controller="appCtrl" data-ng-cloak="">
    <div id="header">
        @Html.Partial("_Header")
    </div>
</div>

</header>

<!--[if lt IE 9]>
    <div class="alert affix" style="box-shadow: -5px 2px 10px #888888; right: 0; z-index: 300;">
        <div class="warning-small-icon-c"></div>
        <strong>Warning:</strong> This site requires Internet Explorer 9 or higher.
    </div>
<![endif]-->

<div data-ng-view="" class="container-fluid"></div>

@*<div class="customFooter">
  @Html.Partial("_Footer")
</div>*@

@section Scripts
{
    @Scripts.Render("~/App/Startup")
    @Scripts.Render("~/App/Controllers")
    @Scripts.Render("~/App/Dialogs")
    @Scripts.Render("~/App/Directives")
    @Scripts.Render("~/App/Filters")
    @Scripts.Render("~/App/Services")
}